.navbar-settings-menu {

  position: absolute;
  top: 5.3rem;
  right: 1.6rem;
  width: 36rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: $user-item-menu-shadow;
  padding: 0.8rem;

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.6rem;
    padding: 0 0.8rem 0 0.8rem;
    border-radius: 0.8rem;
    transition: background-color 0.1s linear;

    &:hover {
      background-color: $gray-18;
    }
  }

  &__profile-picture {
    display: block;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: $gray-12;
  }

  &__user-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25.6rem;
    height: 5.73rem;
    padding: 0.8rem 0;
  }

  &__user-name {
    font-size: 1.7rem;
    font-weight: bold;
    color: $black-2;
  }

  &__profile-message {
    font-size: 1.5rem;
    color: $gray-15;
  }

  &__logout {
    cursor: pointer;
    width: 34.4rem;
    height: 5.2rem;
    display: flex;
    padding: 0 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.8rem;
    transition: background-color 0.1s linear;

    &:hover {
      background-color: $gray-18;
    }

    &-icon {
      width: 3.6rem;
      height: 3.6rem;
      background-color: $gray-14;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      color: $black-3;
    }

    &-message {
      width: 28rem;
      font-size: 1.5rem;
      color: $black-3;
    }
  }

  &__divider {
    margin: 0.8rem 0.8rem;
    border-bottom: 1px solid $gray-16;
  }
}