.navbar-settings-menu {

  @include navbar-menu;

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.6rem;
    padding: 0 0.8rem 0 0.8rem;
    border-radius: 0.8rem;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: $gray-18;
    }
  }

  &__profile-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: $gray-5;
    position:relative;
  }

  &__no-img {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-22;
    font-size: 3rem;
  }

  &__user-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25.6rem;
    height: 5.73rem;
    padding: 0.8rem 0;
  }

  &__user-name {
    font-size: 1.7rem;
    font-weight: bold;
    color: $black-2;
  }

  &__profile-message {
    font-size: 1.5rem;
    color: $gray-15;
  }

  &__logout {
    @include navbar-menu-item;

    &-icon {
      @include navbar-menu-icon;
    }

    &-message {
      width: 28rem;
      font-size: 1.5rem;
      color: $black-3;
    }
  }

  &__divider {
    margin: 0.8rem 0.8rem;
    border-bottom: 1px solid $gray-16;
  }


  &__profile-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

}