.navbar-tab-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  color: $gray-13;
 
  flex-basis: inherit;
  flex-grow: inherit;
  flex-shrink: inherit;
  height: inherit;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  border-bottom: 3px solid transparent;
  padding-top: 3px;
  background-color: transparent;
  
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s linear;
  }
  
  &:hover > .navbar-tab-item__icon {
    height: 4.8rem;
    width: 100%;
    background-color: $gray-18;
  }

  &--active {
    color: $blue-1;
    border-bottom: 3px solid $blue-1;
    &:hover > .navbar-tab-item__icon{
      background-color: transparent;
    }
  }
}


