
.navbar-layout {
  height: 5.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2%), 0 2px 5px rgba(0, 0, 0, 5%);
  background-color: $white-1;

  &__search-section,
  &__user-section {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 5.6rem;
    width: 11.2rem;
    padding: 0 1.6rem 0 1.6rem;
  }

  &__search-section {
    li:last-child {
      margin-left: 0.8rem;
    }
  }

  &__user-section {
    right: 0;
    padding: 0 1.6rem 0 0.4rem;
    width: 20.4rem;
    justify-content: space-between;
  }
  

  &__tabs-section {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 11rem 0 11rem;
    height: 5.6rem;
  }  


  &__tab-item {
    flex-grow: 1;
    display: flex;
    max-width: calc(15vw - 5.5rem);
    min-width: 5rem;
    height: 100%;
    margin-right: 1rem;
  }




}

@media (min-width: $medium-large-width-2) {
  .navbar-layout {
    &__tab-item {
      max-width: 11.16rem;
    }
  }
}

@media (min-width: $large) {
  .navbar-layout {
    &__search-section {
      width: 32rem;
    }
  }
}