
.navbar-create-item,
.navbar-messenger-item,
.navbar-notifications-item,
.navbar-settings-item,
.navbar-create-item--active,
.navbar-messenger-item--active,
.navbar-notifications-item--active,
.navbar-settings-item--active {
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s linear; 
  
  & > * {
    pointer-events: none;
  }
  
  &:hover {
    filter: brightness(95%);
  }
  &:active {
    transform: scale(0.95);
    filter: brightness(90%);
  }
  
}

.navbar-create-item,
.navbar-messenger-item,
.navbar-notifications-item {
  background-color: $gray-14;
  color: $black-2;
}

.navbar-settings-item {
  background-color: $gray-5;
}



.navbar-create-item--active,
.navbar-messenger-item--active,
.navbar-notifications-item--active {
  color: $blue-4;
  background-color: $blue-5;
}

.navbar-create-item,
.navbar-create-item--active {
  font-size: 1.5rem;
  margin-right: 0.8rem;
}

.navbar-messenger-item,
.navbar-messenger-item--active {
  font-size: 1.8rem;
}

.navbar-notifications-item,
.navbar-notifications-item--active  {
  font-size: 1.8rem;
  transform: rotate(-15deg);

}

.navbar-settings-item {
  &__profile-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

  &__no-img {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-22;
    background-color: $gray-5;
    font-size: 1.8rem;
  }
}