.about-contact-and-basic-info-detail,
.about-overview-detail,
.about-places-detail,
.about-relationships-detail {
  background-color: $white-1;
  height: 100%;
  width: 100%;
  padding: 1.6rem 3.2rem 1.6rem 1.6rem;
  border-radius: 0 0 0.8rem 0.8rem;

  &__heading {
    font-size: 1.7rem;
    color: $black-2;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 1.4rem;
  }

  &__input-form,
  &__input-display {
    margin-bottom: 2rem;
  }

  &__input-form:last-child,
  &__input-display:last-child {
    margin-bottom: 0;
  }

  &__add-button {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    width: 100%;

    &:hover > span[class$="__add-button-message"] {
      text-decoration: underline;
    }
  }

  &__add-button-message {
    color: $blue-6;
    padding: 0.6rem;
  }

  &__add-button-icon {
    color: $blue-8;
    width: 3rem;
    height: 3rem;
    padding: 0.6rem 0.6rem 0.6rem 0;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__add-button-message {
    font-size: 1.5rem;
  }
}

@media (min-width: $medium-small) {
  .about-contact-and-basic-info-detail,
  .about-overview-detail,
  .about-places-detail,
  .about-relationships-detail {
    border-radius: 0 0.8rem 0.8rem 0;
  }
}
