.edit-profile {

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width:70rem;
  background-color: $white-1;
  border-radius: 0.8rem;
  box-shadow: 0 12px 28px 0 $shadow-2,0 2px 4px 0 $shadow-1,inset 0 0 0 1px $shadow-inset;
  
  &__container {
    margin-top: -0.7rem;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  &__divider {
    border-bottom: 1px solid $gray-16;
    margin-top: 1.8rem;
  }
  

  &__heading {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__exit-button {
    @include button-click-animation;
    background-color: $gray-20;
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    top: 1.3rem;
    right: 1.3rem;
  }

  &__subheading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem 1.6rem 1.6rem;
  }

  &__subheading {
    font-size: 2rem;
    color: $black-2;
    font-weight: bold;
    
  }

  &__bio-content,
  &__intro-content {
    padding-bottom: 3rem;
  }

  &__bio-content {
    display: flex;
    align-items: center;
    justify-content: center;
    & > * {
      padding: 0;
    }
  }

  &__intro-content {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;

    & > * {
      padding-bottom: 1.6rem;
    }
  }

  &__button {
    font-size: 1.7rem;
    color: $blue-7;
    height: 3.25rem;
    padding: 0 0.8rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    cursor: pointer;
    &:hover {
      background-color: $gray-18;
    }

    &:active {
      filter: brightness(90%);
    }
  }

  &__describe-yourself {
    font-size: 1.7rem;
    color: $gray-23;
  }

  &__about-link-wrapper {
    padding: 1rem 1.6rem 0 1.6rem;
    margin-bottom: -0.5rem;
  }

  &__about-link {
    
    @include button;
    @include button-click-animation;
    background-color: $blue-5;
    color: $blue-1;
    width: 100%;
  }

  &__profile-picture-container,
  &__cover-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
  }

  &__profile-image {
    background-color: $gray-5;
    border-radius: 50%;
    width: 16.8rem;
    height: 16.8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8.4rem;
    border-radius: 50%;
    width: 16.8rem;
    height: 16.8rem;
    transition: all .1s linear;
    background-color: $gray-5;
  }

  &__cover-photo-image {
    background-color: $gray-5;
    width: 51.2rem;
    height: 19.7rem;
    border-radius: 0.8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__cover-photo-upload,
  &__profile-pic-upload {
    display: none;
  }
}