.edit-details {

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 70rem;
  background-color: $white-1;
  border-radius: 0.8rem;
  box-shadow: 0 12px 28px 0 $shadow-2,0 2px 4px 0 $shadow-1,inset 0 0 0 1px $shadow-inset;
  
  &__container {
    padding: 0 0 2rem 0;
    width: 70rem;
    display: flex;
    flex-direction: column;

    .about-overview-detail {
      padding: 1.6rem 3.2rem;
    }
  }

  &__divider {
    border-bottom: 1px solid $gray-16;
    margin-top: 1.8rem;
  }
  

  &__heading {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__exit-button {
    @include button-click-animation;
    background-color: $gray-20;
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    top: 1.3rem;
    right: 1.3rem;
  }
}