.friend-item-options {
  margin-left: auto;
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;

  &__option-menu {
    position: absolute;
  }
  &__option-menu,
  &__option-menu--show {
    position: absolute;
    padding: 0.8rem;
    width: 34.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white-1;
    box-shadow: 0 12px 28px 0 $shadow-2,0 2px 4px 0 $shadow-1,inset 0 0 0 1px $shadow-inset;
    border-radius: 0.8rem;
    top: 5rem;
    right: 0rem;
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      width: 0; 
      height: 0; 
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $white-1;
      right: 1rem;
      top: -.6rem;
    }
  }
  &__option-menu {
    display: none;
  }

  &__option-menu--show {
    display: block;

  }

  &__menu-item {
    display: flex;
    padding: 0.8rem;
    align-items: center;
    cursor: pointer;
    border-radius: 0.8rem;
    height: 3.6rem;
    &:hover {
      background-color: $gray-18;
      
    }

    &:active {
      filter: brightness(95%);
    }
  }

  &__menu-icon {
    font-size: 2rem;
    color: $gray-21;
  }

  &__menu-edit,
  &__menu-delete {
    font-size: 1.5rem;
    color: $black-2;
    margin-left: 1.2rem;
  }
  
  &__svg {
    pointer-events: none;
  }

  &__no-img {
    background-color: $gray-5;
    font-size: 3rem;
    width: 100%;
    height: 100%;
  }


  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 3.2rem;
    min-height: 3.2rem;
    transition: all 0.1s linear;
    font-size: 1.6rem;
    color: $gray-24;

    &:hover {
      background-color: $gray-18;
    }

    &:active {
      filter: brightness(90%);
    }
  }


}
