.profile-friend-item {

  // border: 1px solid $gray-16;
  border-radius: 0.8rem;
  padding: 1.6rem;
  display:flex;

  box-shadow: 0 0 2px $shadow-1;

  &__profile-image {
    width: 8rem;
    height: 8rem;
    border-radius: 0.8rem;
    box-shadow: inset 0 0 0 1px $shadow-1;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.6rem;
  }

  &__name {
    font-size: 1.7rem;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__friend-count {
    font-size: 1.3rem;
    color: $gray-15;
  }

  &__profile-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .1s linear;

    &:hover {
      filter: brightness(90%);
    }

  }

  &__no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 0.8rem;
    box-shadow: inset 0 0 0 1px $shadow-1;
  }
}

