.profile-posts-layout {
  background-color: $white-1;
  display: flex;
  justify-content: center;
  background-color: $gray-5;
  padding: 1.6rem;
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.6rem;
  }

  &__summary,
  &__wall {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    & > * {
      margin-bottom: 1.6rem;
      box-shadow: 0 1px 2px var($shadow-2);
    }
  }

}


@media (min-width: $medium-width-2) {
  .profile-posts-layout {
    &__container {
      flex-direction: row;
    }
    
    &__summary {
      margin-right: 1.6rem;
      & > * {
        min-width: 36rem;
      }
    }

    &__wall {
      align-self: flex-start;
      & > * {
        min-width: 50rem;
      }
    }
  }
}