.profile-create-post {
  @include container-block;
  padding: 1.2rem 1.6rem;
  display: flex;
  
  align-items: center;

  &__profile-picture {
    background-color: $gray-13;
    height: 4rem;
    width: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 50%;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 42rem;
    height: 4rem;
    background-color: $gray-5;
    margin-left: 1rem;
    border-radius: 2rem;
    padding: 0.8rem 1.2rem;
    color: $gray-15;
    font-size: 1.7rem;
    transition: all 0.2s linear;
    &:hover {
      filter: brightness(95%);
    }
    &:active {
      filter: brightness(90%);
    }
  }

}