.profile-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  background-color: $white-1;
  box-shadow: 0 1px 2px $shadow-1;
  
  &__picture-banner {
    position: relative;
    width: 100%;
    max-width: 94rem;
    max-height: 34.81rem;
  }
  
  &__cover-photo-wrapper {
    display: block;
    background-color: #F0F2F5;
    padding-top: 37.037%;
    border-radius: 0 0 0.8rem 0.8rem; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    //background: linear-gradient(to top, $gray-19 0%, $gray-5 20%, $gray-5 80%);
  }

  &__upload-cover-photo {
    position: absolute;
    width: 16.85rem;
    height: 3.6rem;
    background-color: $white-1;
    padding: 1.2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.6rem;
    right: 3.2rem;
    bottom: 1.6rem;
    font-weight: bold;
    @include button-click-animation;
  }

  &__cover-photo-upload {
    display: none;
  }

  &__profile-pic-upload {
    display: none;
    
  }

  &__profile-picture {
    position: absolute;
    width: 17.6rem;
    height: 17.6rem;
    padding: 0.4rem;
    background-color: $white-1;
    border-radius: 50%;
    left: 50%;
    bottom: -1.7rem;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__profile-image-wrapper {
    background-color: $gray-5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__profile-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

  &__no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-2;
    font-size: 9rem;
  }

  &__cover-photo-overflow-guard {
    width: 100%;
    height: 100%;
  }


  &__upload-profile-picture {
    position: absolute;
    cursor: pointer;
    bottom: 1.3rem;
    right: 1rem;
    @include navbar-menu-icon;
    @include button-click-animation;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: 2.5rem;
  }

  &__user-name {
    font-size: 3.2rem;
    font-weight: bold;
  }

  &__biography {
    padding-top: 0.8rem;
    font-size: 1.7rem;
    color: $gray-15;
  }

  &__edit,
  &__add {
    color: $blue-6;
    font-size: 1.5rem;
    margin: 0.2rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__add {
    margin-top: 0.8rem;
  }


  &__divider-wrapper {
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
  }
  &__divider {
    border-bottom: 1px solid $gray-16;
    width: 87.6rem;
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    max-width: 90.8rem;
  }

  &__tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-15;
    height: 6rem;
    font-size: 1.5rem;
    font-weight: bold;
  }


  &__button,
  &__button--sent,
  &__button--received,
  &__button--add,
  &__button--friends {
    height: 3.6rem;
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;

    background-color: $gray-20;
    border-radius: 0.6rem;
    cursor: pointer;
    @include button-click-animation;
    button {
      margin-left: 0.8rem;
    }
  }

  &__button--add,
  &__button--received,
  &__button--sent {
    background-color: $blue-1;
    color: $white-1;
  }


  &__friend-container {
    margin-left: auto;
    position: relative;
  }

  &__option-menu {
    position: absolute;
  }
  &__option-menu,
  &__option-menu--show {
    position: absolute;
    padding: 0.8rem;
    width: 34.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white-1;
    box-shadow: 0 12px 28px 0 $shadow-2,0 2px 4px 0 $shadow-1,inset 0 0 0 1px $shadow-inset;
    border-radius: 0.8rem;
    top: 5rem;
    right: 0rem;
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      width: 0; 
      height: 0; 
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $white-1;
      right: 1rem;
      top: -.6rem;
    }
  }
  &__option-menu {
    display: none;
  }

  &__option-menu--show {
    display: block;

  }

  &__menu-item {
    display: flex;
    padding: 0.8rem;
    align-items: center;
    cursor: pointer;
    border-radius: 0.8rem;
    height: 3.6rem;
    &:hover {
      background-color: $gray-18;
      
    }

    &:active {
      filter: brightness(95%);
    }
  }

  &__menu-icon {
    font-size: 2rem;
    color: $gray-21;
  }

  &__menu-edit,
  &__menu-delete {
    font-size: 1.5rem;
    color: $black-2;
    margin-left: 1.2rem;
  }
  


}
