@mixin navbar-menu {
  position: absolute;
  top: 5.3rem;
  right: 1.6rem;
  width: 36rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: $user-item-menu-shadow;
  padding: 0.8rem;
}

@mixin navbar-menu-header {
  font-size: 2.4rem;
  color: $black-2;
  padding: 0.7rem 0.8rem;
  font-weight: bold;
}

@mixin navbar-menu-item {
  cursor: pointer;
  width: 34.4rem;
  height: 5.2rem;
  display: flex;
  padding: 0 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: $gray-18;
  }
}

@mixin navbar-menu-icon {
  width: 3.6rem;
  height: 3.6rem;
  background-color: $gray-14;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: $black-3;
}

@mixin navbar-menu-divider {
  margin: 0.8rem 0.8rem;
  border-bottom: 1px solid $gray-16;
}


@mixin tab-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-15;
 
  flex-basis: inherit;
  flex-grow: inherit;
  flex-shrink: inherit;
  height: inherit;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  border-bottom: 3px solid transparent;
  padding-top: 3px;
  background-color: transparent;

  &__inner-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s linear;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: 5.2rem;
  }

  &:hover > div[class$="__inner-frame"] {
    width: 100%;
    background-color: $gray-18;
  }

  &--active {
    color: $blue-1;
    border-bottom: 3px solid $blue-1;
    &:hover > div[class$="__inner-frame"]{
      background-color: transparent;
    }
  }
}


@mixin button-click-animation {
  &:hover {
    filter: brightness(95%);
  }
  &:active {
    transform: scale(0.95);
    filter: brightness(90%);
  }
}


@mixin button {
  width: 12.518rem;
  height: 3.6rem;
  padding: 0 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: $gray-20;
  border-radius: 0.6rem;
  cursor: pointer;
}

@mixin button--link {
  font-size: 1.7rem;
  color: $blue-7;
  
}

@mixin container-block {
  background: $white-1;
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px $shadow-2;
  color: $black-2;
  padding: 2rem 1.6rem;

  &__heading {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -0.3rem;
  }
}