// COLORS

$white: #FFFFFF;
$black: #1c1e21;
$black-2: #050505;


$gray-1: #606770;
$gray-2: #f5f6f7;
$gray-3: #ccd0d5;
$gray-4: #777777;


$transparent-gray: rgba(255, 255, 255, .8);

$blue-primary: #1877F2;
$blue-secondary: #166fe5;
$blue-tertiary: #385898;

$green-primary: #42B72A;
$green-secondary: #36a420;
$green-3: #00a400;
$green-4: #79bc64;
$green-5: #578843;

$gray-disabled-text: #737373;

$splash-background-color: #F0F2F5;
$input-border-color: #dddfe2;
$input-placeholder-color: #949699;
$form-divider-color: #dadde1;

// Breakpoints
$medium-width: 901px;
$medium-large-width: 1075px;



