// Colors
$white-1: #FFFFFF;

$black-1: #1c1e21;
$black-2: #050505;

$gray-1: #606770;
$gray-2: #f5f6f7;
$gray-3: #ccd0d5;
$gray-4: #777777;
$gray-5: #F0F2F5;
$gray-6: #dddfe2;
$gray-7: #949699;
$gray-8: #dadde1;
$gray-9: #737373;
$gray-10: #606771;

$transparent-gray-1: rgba(255, 255, 255, .8);

$blue-1: #1877F2;
$blue-2: #166fe5;
$blue-3: #385898;

$green-1: #42B72A;
$green-2: #36a420;
$green-3: #00a400;
$green-4: #79bc64;
$green-5: #578843;

$red-1: #B94948;
$red-2: #be4b49;

// Breakpoints
$medium-width: 901px;
$medium-large-width: 1075px;






