.newsfeed-layout {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: $gray-5;
  padding: 7.2rem 1.6rem 0 1.6rem;


  &__background {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    background-color: $gray-5;

  }
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.6rem;
    height: 100%;
  }

  &__summary,
  &__wall {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50rem;
    height: 100%;
    & > * {
      margin-bottom: 1.6rem;
      box-shadow: 0 1px 2px var($shadow-2);
    }
  }

  &__wall {
    margin-bottom: 20rem;
  }

}