// COLORS

$white: #FFFFFF;

$blue-primary: #1877F2;
$blue-secondary: #166fe5;
$blue-tertiary: #385898;

$green-primary: #42B72A;
$green-secondary: #36a420;

$gray-disabled-text: #737373;



$splash-background-color: #F0F2F5;
$input-border-color: #dddfe2;
$input-placeholder-color: #949699;

$form-divider-color: #dadde1;
