.login-form {
  display: flex;
  flex-direction: column;
  background-color: $white-1;
  width: 39.6rem;
  height: 35rem;
  border-radius: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  padding: 1.6rem;

  &__input {
    font-size: 1.7rem;
    padding: 1.4rem 1.6rem;
    border: 1px solid $gray-6;
    border-radius: 0.6rem;
    margin-bottom: 1.2rem;

    &::placeholder {
      color: $gray-7;
    }

    &:active,
    &:focus {
      border-color: $blue-1;
      box-shadow: 0 0 .4rem rgba($blue-1, 0.25);
    }
  }

  &__button--primary,
  &__button--secondary {
    height: 4.8rem;
    text-align: center;
    color: $white-1;
    border-radius: 0.6rem;
    font-weight: bold;
  }

  &__button--primary {
    font-size: 2rem;
    background-color: $blue-1;
    margin-top: 0.5rem;

    &:hover {
      background-color: $blue-2;
    }
  }

  &__button--secondary {
    font-size: 1.7rem;
    background-color: $green-1;
    align-self: center;
    padding: 0 1.5rem 0 1.5rem;

    &:hover {
      background-color: $green-2;
    }
  }

  &__demo-user {
    font-size: 1.4rem;
    margin-top: 1.8rem;
    text-align: center;
    color: $blue-1;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__divider {
    border-bottom: 1px solid $gray-8;
    margin: 2.3rem 0 2.8rem 0;
  }
}


.signup-form {
  position: relative;
  width: 43.2rem;
  height: 49.6rem;
  background-color: $white-1;
  border-radius: .8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 10%), 0 8px 16px rgba(0, 0, 0, 10%);

  &__exit-button {
      position: absolute;
      color: $gray-10;
      top: 1rem;
      right: 1rem;
      font-weight: 400;
      font-size: 3.4rem;
      height: 2.4rem;
      width: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
  }

  &__header {
    padding: 1rem 1.6rem;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: $black-1;
    margin-bottom: .4rem;
  }

  &__message {
    font-size: 1.5rem;
    color: $gray-1;
    margin-bottom: .3rem;
  }

  &__divider {
    border-bottom: 1px solid $gray-8;
  }

  &__fields {
    margin: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1.2rem;
  }

  &__input,
  &__select-group,
  &__radio-group {
    grid-column: span 2;
    font-size: 1.5rem;
  }
  
  &__input {
    background: $gray-2;
    padding: 1.1rem;
    border-radius: .5rem;
    
    border: 1px solid $gray-3;
  }

  &__input:nth-child(1),
  &__input:nth-child(2) {
    grid-column: span 1;
  }

  &__select-group,
  &__radio-group {
    margin-top: .2rem;
  }

  &__disclaimer {
    grid-column: span 2;
    font-size: 1.1rem;
    color: $gray-4;
    span {
      color: $blue-3;
    }
  }

  &__signup-button-wrapper {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
  }

  &__signup-button {
    text-align: center;
    height: 3.6rem;
    width: 19.4rem;
    font-size: 1.8rem;
    background-color: $green-3;
    color: $white-1;
    font-weight: bold;
    border-radius: 0.6rem;

    &:hover {
      background: linear-gradient($green-4, $green-5);
    }
  }
}

body {
    overflow: hidden;
  
}