.birthday-selection {

  &__label {
    color: $gray-1;
    font-size: 1.2rem;
    display: block;
    margin-bottom: .2rem;
  }

  &__select-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.2rem;
  }


  &__arrow-wrapper {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      top: 1.3rem;
      right: 1rem;
      height: 0.7rem;
      width: 0.7rem;
      border-left: 2px solid $black-2;
      border-bottom: 2px solid $black-2;
      transform: rotate(-45deg);
      pointer-events: none;
    }
  }

  &__arrow-wrapper--profile {
    position: relative
  }

  &__dropdown-icon--profile {
    position: absolute;
    display: block;
    z-index: 3;
    top: 0.7rem;
    right: 1rem;
    pointer-events: none;
    font-size: 1.7rem;
    color: $black-2;
  }


  &__select,
  &__select--error,
  &__select--profile {
    position: relative;
    border-radius: 0.6rem;
    padding: 0 2rem 0 .8rem;
    border-radius: .4rem;
    border: 1px solid $gray-3;
    height: 3.6rem;
    appearance: none;
    width: 100%;
  }

  &__select--profile {
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    padding: 1rem 1.2rem;
    background-color: $gray-20;

    &:active {
      filter: brightness(90%);
    }
    option {
      background-color: $white-1;
      font-weight: 400;
    }
  }

  &__select--error {
    border-color: red;
  }

  &__select--error:focus {
    border-color: $gray-3;
  }
}


.gender-radio-group {
  &__label {
    color: $gray-1;
    font-size: 1.2rem;
    display: block;
    margin-bottom: .2rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  &__button,
  &__button--error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    border-radius: .4rem;
    border: 1px solid $gray-3;
    height: 3.6rem;
  }

  &__button--error {
    border-color: red;
  }

  &__button--error:active {
    border-color: $gray-3;
  }
}