.splash-layout {

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72rem;
  }

  &__main-background {
    background-color: $gray-5;
    padding: 0 4rem 0 4rem;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 0 1.2rem 0 1.2rem;
  }

  &__modal-background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background-color: $transparent-gray-1;
  }

  &__modal {

    &-top-guard {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      overflow-y: scroll;

      width: 100vw;
      height: 100vh;
      padding-top: 2.5rem;
      display: flex;
      flex-direction: column;
    }

    &-center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

  }
}


@media (min-width: $medium-width) {
  .splash-layout {
    &__main {
      margin: 0 auto;
      flex-direction: row;
      justify-content: center;
      max-width: 98rem;
      &-item {
        flex-grow: 1;
        display: flex;
      }
      &-item:first-child {
        justify-content: flex-start;
        margin-bottom: 18rem;
      }
      &-item:last-child {
        justify-content: flex-end;
        margin-bottom: 10rem;
      }
    }
  }
}
