
.splash-footer {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: $blue-3;
  width: 98rem;

  &__language-bar,
  &__personal-sites {
    display: flex;
    padding: 1.1rem 0 1rem 0;
  }

  &__divider {
    border-bottom: 1px solid $gray-8;
  }

  &__language-item,
  &__copyright {
    color: $gray-9;
  }

  &__site-item {
    margin-right: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }
  
  &__copyright {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}

