.splash-header {
  min-width: 40rem;
  max-width: 50rem;
  padding: 2.8rem 0 0 0;
  margin: 0 0 4rem 0;

  &__logo {
    text-align: center;
    font-size: 6rem;
    font-family: 'Poppins';
    letter-spacing: -2px;
    font-weight: bold;
    color: $blue-1;
    margin-bottom: 1rem;
  }

  &__message-box {
    text-align: center;
    width: 40rem;
  }

  &__message {
    font-size: 2.4rem;
  }

}

@media (min-width: $medium-width) {
  .splash-header {
    &__logo {
      text-align: left;
    }

    &__message-box {
      text-align: left;
      width: 36.8rem
    }
  }
}

@media (min-width: $medium-large-width) {
  .splash-header {
    &__message-box {
      width: 50rem;
    }

    &__message {
      font-size: 2.8rem;
    }
  }
}
