

.splash-header {

  min-width: 40rem;
  max-width: 50rem;
  padding: 2.8rem 0 0 0;
  margin: 0 0 4rem 0;

  &__logo {
    text-align: center;
    font-size: 6rem;
    font-family: 'Poppins';
    letter-spacing: -2px;
    font-weight: bold;
    color: $blue-primary;
    margin-bottom: 1rem;
  }

  &__message-box {
    text-align: center;
    width: 40rem;
  }

  &__message {
    font-size: 2.4rem;
  }

}

@media (min-width: $medium-width) {
  .splash-header {
    &__logo {
      text-align: left;
    }

    &__message-box {
      text-align: left;
      width: 36.8rem
    }
  }
}

@media (min-width: $medium-large-width) {
  .splash-header {
    &__message-box {
      width: 50rem;
    }

    &__message {
      font-size: 2.8rem;
    }
  }
}


.splash-footer {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: $blue-tertiary;
  width: 98rem;

  &__language-bar,
  &__personal-sites {
    display: flex;
    padding: 1.1rem 0 1rem 0;
  }

  &__divider {
    border-bottom: 1px solid $form-divider-color;
  }

  &__language-item,
  &__copyright {
    color: $gray-disabled-text;
  }

  &__site-item {
    margin-right: 2rem;
  }
  
  &__copyright {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

}

