.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: 11.2rem;
    height: 11.2rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: bold;
    color: $gray-15;
    margin-top: 2rem;
  }

  &__message-1 {
    margin-top: 0.6rem;
  }

  &__message-1,
  &__message-2 {
    color: $gray-15;
    font-size: 1.7rem;
  }
}