
@import "base/reset.scss";
@import "base/base.scss";
@import "abstracts/variables.scss";

@import "layouts/splash.scss";

@import "components/splash.scss";
@import "components/forms.scss";
@import "components/inputs.scss";