/*
*= require_self
*/

// Setup
@import "base/reset.scss";
@import "base/base.scss";
@import "base/variables.scss";
@import "base/mixins.scss";

// App
@import "components/app.scss";

// Shared
@import "components/shared/input_form.scss";
@import "components/shared/input_display.scss";

// Splash
@import "components/splash/splash_layout.scss";
@import "components/splash/splash_header.scss";
@import "components/splash/splash_footer.scss";
@import "components/splash/login_form.scss";
@import "components/splash/signup_form.scss";
@import "components/splash/inputs.scss";

// Navbar
@import "components/navbar/navbar_layout.scss";
@import "components/navbar/logo.scss";
@import "components/navbar/search_bar.scss";
@import "components/navbar/navbar_tab_item.scss";
@import "components/navbar/navbar_user_item.scss";
@import "components/navbar/navbar_settings_menu";
@import "components/navbar/navbar_notifications_menu";
@import "components/navbar/navbar_messenger_menu";
@import "components/navbar/navbar_create_menu";


// Profile
@import "components/profile/profile_layout.scss";
@import "components/profile/profile_header.scss";
@import "components/profile/profile_tab_item.scss";
@import "components/profile/profile_posts.scss";
@import "components/profile/profile_intro.scss";
@import "components/profile/profile_friends.scss";
@import "components/profile/profile_create_post.scss";
@import "components/profile/profile_post_filter.scss";
@import "components/profile/profile_biography_form.scss";
@import "components/profile/edit_details_form.scss";
@import "components/profile/edit_profile_form.scss";
@import "components/profile/profile_friends_summary.scss";
@import "components/profile/profile_friends_layout.scss";
@import "components/profile/profile_friend_item.scss";
@import "components/profile/friend_item_options.scss";

// Profile About
@import "components/profile/profile_about_layout.scss";
@import "components/profile/about_header.scss";
@import "components/profile/about_detail.scss";

// Posts
@import "components/posts/post_list_item.scss";
@import "components/posts/post_list.scss";
@import "components/posts/post_form.scss";
@import "components/posts/post_edit_options.scss";

// Newsfeed
@import "components/newsfeed/newsfeed_layout.scss";

// Friends
@import "components/friends/friends_layout.scss";
@import "components/friends/friends_sidebar.scss";
@import "components/friends/friends_sidebar_item.scss";

// Comments
@import "components/comments/comment_item.scss";
@import "components/comments/comment_edit_options.scss";
@import "components/comments/comment_form.scss";

// Search
@import "components/search/search_page.scss";

@import "components/no_results.scss";

// Loader
@import "components/loader.scss";

// Animations through React
@import "react-transitions.scss"