.friends-layout {
  background-color: $gray-5;
  position: absolute;
  top: 5.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  



  &__sidebar {
    width: 36rem;
    position: fixed;
    top: 5.6rem;
    bottom: 0;
    z-index: 13;
  }

  &__profile {
    position: absolute;
    left: 36rem;
    top: -5.6rem;
    right: 0;
    bottom: 0;
    min-width: 50rem;
  }
}