.friends-sidebar-item-wrapper,
.friends-sidebar-item-wrapper--active {
  display: flex;
  align-items: center;
  height: 8.4rem;
  border-radius: 0.8rem;
  padding: 0 0.8rem;
  transition: background-color 0.1s linear;
  cursor: pointer;


  &:active {
    filter: brightness(95%);
  }
}
.friends-sidebar-item-wrapper {
  &:hover {
    background-color: $gray-18;
  }
}

.friends-sidebar-item-wrapper--active {
  background-color: $blue-9;
  &:hover {
  background-color: $blue-9;
    
  }


}

.friends-sidebar-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;



  &__profile-image {
    min-width: 6rem;
    min-height: 6rem;
    background-color: $gray-5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
  }

  &__no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    min-width: 6rem;
    min-height: 6rem;
    border-radius: 0.8rem;
    color: $gray-22;
    box-shadow: inset 0 0 0 1px $shadow-1;
    transition: all .1s linear;

    &:hover {
      background-color: $gray-18;
    }
  }

  &__name {
    font-size: 1.5rem;
    padding-left: 1.2rem;
    font-weight: bold;
    margin-top: -0.2rem;

  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  

  &__button-group {
    margin-top: 0.8rem;
    display: flex;
    padding-left: 1.2rem;
    width: 100%;
  }

  &__confirm,
  &__delete {
    @include button;
    width: 100%;

  }

  &__delete {
    margin-left: 0.8rem;
  }

  &__confirm {
    color: $white-1;
    background-color: $blue-1;
  }

  &__message {
    margin-top: 0.4rem;
    padding-left: 1.2rem;
    font-size: 1.3rem;
    color: $gray-15;
    font-weight: 400;
  }

}