.friends-prompt {
  background-color: $gray-5;
  position: absolute;
  top: 5.6rem;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }

  &__icon {
    width: 11.2rem;
    height: 11.2rem;
    display: flex;
    align-items: center;
  }

  &__message {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: $gray-15;
    text-align: center;
  }


}