.friends-sidebar {
  width: 100%;
  height: 100%;
  background-color: $white-1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 3%), 0 3px 7px rgba(0, 0, 0, 5%);
  padding: 1.6rem 0.8rem;

  &__heading {
    font-size: 2.4rem;
    color: $black-2;
    padding: 0 0.8rem;
    font-weight: bold;
  }

  &__count {
    font-size: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
    padding: 0 0.8rem;
    font-weight: bold;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

}