.friends-layout {
  background-color: $gray-5;
  position: absolute;
  top: 5.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: bold;



  &__sidebar {
    width: 36rem;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}